<mat-card>
  <mat-card-title>List</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="add()">Add</button>
    <br />
    <br />
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
