<mat-card>
  <mat-card-title>Add/Edit</mat-card-title>
  <mat-card-content>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <h4>User</h4>
      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <mat-select [formControl]="tenantControl" required>
          <mat-option *ngFor="let tenant of tenants" [value]="tenant.value">
            {{ tenant.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tenantControl.hasError('required')"
          >Please choose a user</mat-error
        >
      </mat-form-field>

      <h4>Property</h4>
      <mat-form-field appearance="fill">
        <mat-label>Property</mat-label>
        <mat-select [formControl]="propertyControl" required>
          <mat-option
            *ngFor="let property of properties"
            [value]="property.value">
            {{ property.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="propertyControl.hasError('required')"
          >Please choose a property</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Cost" formControlName="cost" required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [formGroup]="reservationForm"
          [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start_date"
            placeholder="Start date" />
          <input matEndDate formControlName="end_date" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error
          *ngIf="
            reservationForm.controls['start_date'].hasError(
              'matStartDateInvalid'
            )
          "
          >Invalid start date</mat-error
        >
        <mat-error
          *ngIf="
            reservationForm.controls['end_date'].hasError('matEndDateInvalid')
          "
          >Invalid end date</mat-error
        >
      </mat-form-field>

      <p>Selected range: {{ reservationForm.value | json }}</p>

      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!reservationForm.valid">
        Save
      </button>
      <button mat-raised-button color="warn" type="button" routerLink="/">
        Cancel
      </button>
    </form>
  </mat-card-content>
</mat-card>
